body{
    margin: 0;
    text-align: center;
    color: tomato;
    background-color: teal;
    font-size: large;
    font-size: 20px;
}

p{
    color: black;
    font-size: 20px;
}


.container{
    border: black solid;
    background-color: tomato;
    display: flex;
    justify-content: center;
    padding: 1em;
    width: 70%;
    margin: 0 auto;
}

.footer{
    color: crimson;
}